---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';

export interface Props {
  paragraphs: string[];
}

const { paragraphs } = Astro.props;
---

<WidgetWrapper containerClass="pt-0">
  <div class="max-w-3xl text-lg leading-8 text-muted">
    {paragraphs.map((paragraph) => <p class="mb-5 last:mb-0">{paragraph}</p>)}
  </div>
</WidgetWrapper>
