---
import { SITE } from 'astrowind:config';
---

<span class="self-center flex items-center gap-2">
  <img src="/icons/favicon.png" alt={SITE?.name} class="h-8 w-8" />
  <span class="ml-1 rtl:ml-0 rtl:mr-1 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</span>
