---
import Layout from '~/layouts/Layout.astro';
import SiteHeader from '~/components/common/SiteHeader.astro';
import SiteFooter from '~/components/common/SiteFooter.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <SiteHeader />
  </slot>
  <main class="pt-16">
    <slot />
  </main>
  <slot name="footer">
    <SiteFooter />
  </slot>
</Layout>
